@import "base/variables";

//Foundation
@import "base/foundation-settings";
@import "foundation";
@include foundation-everything;

//Components
@import "components/navigation";
@import "components/clock"; 
@import "components/controls";
@import "components/page-title";

/*
p {
	color: green;
}

.main {
	border: 3px black dashed;
}
.nav {
	border: 3px orange dashed;
}
*/